<div class="container-fluid bg-dark text-white">
  <div class="container d-flex justify-content-around">
    <div class="p-4">
      <a routerLink="/ownerInfo">
        <i class="fa-solid fa-circle-info icon" style="scale: 3; color: white; opacity: 1;"></i>
      </a>
    </div>
    <div class="p-4">
      <a routerLink="/ownerWorkers">
        <i class="fa-solid fa-users icon" style="scale: 3; color: white; opacity: 0.8;"></i>
      </a>
    </div>
    <div class="p-4">
      <a routerLink="/ownerInfo">
        <i class="fa-solid fa-calendar icon" style="scale: 3; color: white; opacity: 0.8;"></i>
      </a>
    </div>
    <div class="p-4">
      <a routerLink="/ownerInfo">
        <i class="fa-solid fa-table-list icon" style="scale: 3; color: white; opacity: 0.8;"></i>
      </a>
    </div>
  </div>
</div>
