<div class="cover d-flex">

  <div class="d-flex col-1 justify-content-center p-0 bg-dark menu">
    <ul class="list d-flex flex-column align-items-center ps-0 pt-5 menu-covered">
      <li class="pt-5 pb-5 ps-5 pe-5">
        <a href="/ownerInfo" class="w-100 h-100">
          <i class="fa-solid fa-circle-info icon" style="scale: 3; color: white; opacity: 0.8;"></i>
        </a>
      </li>
      <li class="pt-5 pb-5 ps-5 pe-5">
        <a href="/ownerWorkers">
          <i class="fa-solid fa-users icon" style="scale: 3; color: white; opacity: 0.8;"></i>
        </a>
      </li>
      <li class="pt-5 pb-5 ps-5 pe-5">
        <a href="/ownerInfo">
          <i class="fa-solid fa-calendar icon" style="scale: 3; color: white; opacity: 0.8;"></i>
        </a>
      </li>
      <li class="pt-5 pb-5 ps-5 pe-5">
        <a href="/ownerInfo">
          <i class="fa-solid fa-table-list icon" style="scale: 3; color: white; opacity: 0.8;"></i>
        </a>
      </li>
    </ul>
  </div>


  <div class="col-11">
    <div class="container-fluid bg-danger">asd</div>
  </div>
</div>



<app-footer class="position-relative footer"></app-footer>


