<div class="container-fluid bg-light min-vh-100">
  <div class="row d-flex justify-content-center align-items-center main-block">
    <div class="col-xxl-8 col-lg-8 col-sm-12 block d-flex flex-column justify-content-center align-items-center">
      <div>
        <h1 class="pb-5 text-company">{{companyData.name}}</h1>
      </div>
      <button class="btn1 d-flex justify-content-center align-items-center" href="#">
        Забронювати
      </button>
    </div>
  </div>
  <div class="row">

    <div class="second-row d-flex justify-content-center align-items-center">
      <div class="col-xxl-12 col-lg-12 col-sm-12 block-second d-flex flex-column justify-content-around align-items-center">
        <h1 class="textInfo">Our Services</h1>
        <div class="col-xxl-12 col-lg-12 col-sm-12 blocks d-flex justify-content-around align-items-center">

          <div class="block-info col-xxl-2 col-lg-4 col-sm-7 col-8 shadow p-5 d-flex flex-column justify-content-between">
            <h3 class="text-center">Service</h3>
            <div class="d-flex justify-content-between">
              <div class="d-flex">
                <i class="fa-regular fa-clock pe-2"></i>
                <h4 class="subText">1 год.</h4>
              </div>

              <h4 class="valueText">200,00₴</h4>
            </div>
            <button class="btn-mini d-flex justify-content-center align-items-center" href="#">
              Вибрати
            </button>
          </div>

          <div class="block-info col-xxl-2 col-lg-4 col-sm-7 col-8 shadow p-5 d-flex flex-column justify-content-between">
            <h3 class="text-center">Service</h3>
            <div class="d-flex justify-content-between">
              <div class="d-flex">
                <i class="fa-regular fa-clock pe-2"></i>
                <h4 class="subText">1 год.</h4>
              </div>
              <h4 class="valueText">200,00₴</h4>
            </div>
            <button class="btn-mini d-flex justify-content-center align-items-center" href="#">
              Вибрати
            </button>
          </div>

          <div class="block-info col-xxl-2 col-lg-4 col-sm-7 col-8 shadow p-5 d-flex flex-column justify-content-between">
            <h3 class="text-center">Service</h3>
            <div class="d-flex justify-content-between">
              <div class="d-flex">
                <i class="fa-regular fa-clock pe-2"></i>
                <h4 class="subText">1 год.</h4>
              </div>

              <h4 class="valueText">200,00₴</h4>
            </div>
            <button class="btn-mini d-flex justify-content-center align-items-center" href="#">
              Вибрати
            </button>
          </div>

          <div class="block-info col-xxl-2 col-lg-4 col-sm-7 col-8 shadow p-5 d-flex flex-column justify-content-between">
            <h3 class="text-center">Service</h3>
            <div class="d-flex justify-content-between">
              <div class="d-flex">
                <i class="fa-regular fa-clock pe-2"></i>
                <h4 class="subText">1 год.</h4>
              </div>

              <h4 class="valueText">200,00₴</h4>
            </div>
            <button class="btn-mini d-flex justify-content-center align-items-center" href="#">
              Вибрати
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container pb-5">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
</div>



<app-footer></app-footer>
