body
{
  position: relative;
}

.login-cover
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.login
{
  width: 300px;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.register
{
  padding-top: 10px;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 16px;
  font-weight: 500;
  font-family: monospace;
}

.Sign-Up
{
  padding-left: 5px;
}
