<div class="container-fluid d-flex justify-content-center pt-lg-5">

    <form class="login-form">
      <h2 class="text-center pt-3 pb-3">Sign In</h2>
      <div class="mb-3">
        <input placeholder="Login" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>

      <div class="mb-3">
        <input placeholder="Password" type="password" class="form-control" id="exampleInputPassword1">
      </div>

      <button type="submit" class="btn btn-primary">Login</button>
      <p class="register-text">Don't have an account? <a class="Sign-Up" href="http://localhost:4200/register">Sign Up</a></p>
    </form>

</div>
