.gradient {
  width: 100%;
  background: linear-gradient(149deg, #56C8D6 0%, #2A98AD 42%, #DA865B 72%, #EFA68B 100%);
  animation: gradient 10s infinite linear;
  background-size: 800%;
  z-index: 0;
}

@keyframes gradient {
  0% {
    background-position: 80% 0;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 80% 0;
  }
}

.sign-in
{
  width: 100%;
  padding-top:9%;
}

.login-background
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  background: #31383A;
  height: 500px;
  border-radius: 25px 0 0 25px;

}

.header-text
{

  font-size: 35px;
  font-weight: 1000;
  color: white;
  letter-spacing: 2px;
  padding: 3px;

}

.main-text
{

  font-size: 25px;
  font-weight: 1000;
  color: white;
  padding: 3px;

}

.form-cover
{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0 25px 25px 0;
}

.login-form
{
  width: 70%;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.register-text
{
  padding-top: 10px;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 16px;
  font-weight: 500;
  font-family: monospace;
}

.Sign-Up
{
  padding-left: 5px;
}

a
{
  text-decoration: none;
  color:black;
}

.text-bottom
{
  color:black;
  bottom: 10px;
}

@media (max-width: 555px) {
  .header-text
  {
    font-size: 20px;
  }

  .main-text
  {
    font-size: 15px;
  }

  .sign-in
  {
    display: flex;
    flex-direction: column;
  }

  .login-background
  {
    width: 80%;
    border-radius: 30px;
  }

  .form-cover
  {
    width: 80%;
    border-radius: 30px;
  }
  .gradient {
    height: 400px;
  }
}

@media (max-width: 1000px) {
  .header-text
  {
    font-size: 35px;
  }

  .main-text
  {
    font-size: 25px;
  }

  .sign-in
  {
    display: flex;
    flex-direction: column;
    padding-bottom: 18%;

  }

  .login-background
  {
    width: 80%;
    border-radius: 30px;
  }

  .form-cover
  {
    width: 80%;
    border-radius: 30px;
  }
  .gradient {
    height: 1300px!important;
  }
}

@media (max-width: 1700px) {
  .header-text
  {
    font-size: 35px;
  }

  .main-text
  {
    font-size: 25px;
  }
  .gradient {
    height: 1400px;
  }
}

@media (max-width: 2500px) {
  .header-text
  {
    font-size: 35px;
  }

  .main-text
  {
    font-size: 25px;
  }
  .gradient {
    height: 930px;
  }

  .sign-in
  {
    padding-top:10%;
  }
}
