<div class="container-fluid">
  <div class="row">
    <div class="col-1 col-xl-1 col-sm-12 navbar-dark  d-flex justify-content-center p-0 bg-dark menu">
      <ul class="list d-flex flex-column align-items-center ps-0 pt-5 menu-covered">
        <li class="pt-5 pb-5 ps-5 pe-5">
          <a href="/ownerInfo" class="w-100 h-100">
            <i class="fa-solid fa-circle-info icon" style="scale: 2.5; color: white; opacity: 0.8;"></i>
          </a>
        </li>
        <li class="pt-5 pb-5 ps-5 pe-5">
          <a href="/ownerInfo">
            <i class="fa-solid fa-users icon" style="scale: 2.5; color: white; opacity: 0.8;"></i>
          </a>
        </li>
        <li class="pt-5 pb-5 ps-5 pe-5">
          <a href="/ownerInfo">
            <i class="fa-solid fa-calendar icon" style="scale: 2.5; color: white; opacity: 0.8;"></i>
          </a>
        </li>
        <li class="pt-5 pb-5 ps-5 pe-5">
          <a href="/ownerInfo">
            <i class="fa-solid fa-table-list icon" style="scale: 2.5; color: white; opacity: 0.8;"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
