<div class="container-fluid position-relative ">
  <div class="row vh-100 position-absolute ">
    <div class="col-sm-auto bg-light sticky-top" style="background-color: #56C8D6!important;">
      <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top pt-5 ">

        <ul  style="background-color: #56C8D6!important;" class="pt-5 nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-3 align-items-center">
          <li class="nav-item  pt-5">
            <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
              <i class="fa-solid fa-circle-info icons" style="scale: 2.5; color: white;opacity: 0.8"></i>
            </a>
          </li>
          <li class="pt-5">
            <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
              <i class="fa-solid fa-users icons" style="scale: 2.5; color: white;opacity: 0.8"></i>
            </a>
          </li>
          <li class="pt-5">
            <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
              <i class="fa-solid fa-list icons" style="scale: 2.5; color: white;opacity: 0.8"></i>
            </a>
          </li>
          <li class="pt-5">
            <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
              <i class="fa-regular fa-calendar-days icons" style="scale: 2.5; color: white; opacity: 0.8"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
