.bg
{
  background-color: var(--main-white-blue);
  padding-top: 9%;
  padding-bottom: 7%;
}
.pb-100
{
  padding-bottom: 100px!important;
}
.card-border
{
  border-radius: 0.5rem;
  border: var(--bs-border-color-translucent) 1px solid;
}
.gradient {
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(149deg, #56C8D6 0%, #2A98AD 42%, #DA865B 72%, #EFA68B 100%);
  animation: gradient 4s infinite linear;
  background-size: 400%;
  z-index: 0;
}

@keyframes gradient {
  0% {
    background-position: 80% 0;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 80% 0;
  }
}
.profile
{
  border: 3px solid black;
  border-radius: 30px;
  background-color:white;
}
.wrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97%;
  width: 100%;
  background-color:white;
}

.describe
{



}

.examples
{

}



