<div class="gradient">
<div class="container-fluid">
  <div class="row">
    <div class="col-xxl-4 col-xl-4 col-sm-12 d-flex flex-column text-center obgortka">
      <div class="profile">
        <img class="align-self-center w-50 mt-3" src="assets/images/profile.png" alt="image">
        <div class="d-flex justify-content-center text-center">
          <p class="text-bottom p-3"><a class="text-decoration-none text-black" href="http://localhost:4200">Friends</a></p>
          <p class="text-bottom p-3"><a class="text-decoration-none text-black" href="http://localhost:4200">Follows</a></p>
        </div>

        <div class="info flex-column">
          <p class="text-bottom">Nickname: nick</p>
          <p class="text-bottom">Email: email@gmail.com</p>
          <p class="text-bottom">Full Name: name</p>
          <p class="text-bottom">Phone: 0000</p>
        </div>
        <button type="submit" class="btn btn-primary bg-black border-0 w-50 align-self-center mb-3">Edit Profile</button>
      </div>
    </div>
    <div class="col-xxl-8 col-xl-8 col-sm-12 d-flex obgortka ">
      <div class="ustal"  style=" border: 3px solid black; border-radius: 30px">
        <h1>No Meetings Now</h1>
      </div>
    </div>
  </div>
</div>
</div>

<app-footer class="fixed-bottom"></app-footer>
