.list
{
  list-style-type: none;
}

.icon:hover
{
  opacity: 1!important;
  transition: 0.2s!important;
}

body
{
  height: 100%;

}

.menu
{
  position: relative!important;
  z-index: 0!important;
}

@media (max-width: 1000px) {
  .cover
  {
    display: flex;
    flex-direction: column;
  }
  .menu
  {
    width: 100%!important;
    height: 60px;
  }

  .menu-covered
  {
    flex-direction: row!important;
    padding-top: 20px!important;
  }

  .icon
  {
    scale: 1.8!important;
  }
}

/*////////////////////////////////*/

.block
{
    height: 900px;
    background-color: #2A98AD;
}









/*////////////////////////////////*/

.footer
{
  z-index: 1;
}
