.home
{
  background-color: var(--main-dark-blue);
  color: white;
}
.how-register
{
  background-color: var(--main-dark-blue);
  color: white;
}
.btn-search
{
  border-radius: 10px 0 0 10px!important;
}
.input-group-search
{
  width: 35%;
}
.explanation-section-1
{
  background-color: var(--main-orange);
  color: white;
}
