<section class="container-fluid main bg-light">
  <div class="container main-text-block">
    <div class="row">
      <div class="col-12">
        <p class=" main-logo-text">Kursova</p>
        <p class="main-description-text">Electronic journal entry - single workspace. Automation of visits, statuses and much more.</p>
      </div>
    </div>
  </div>
</section>
<section class="home container-fluid text-center pt-5 pb-5">
  <h1>Make an appointment online!</h1>
  <h4 class="pt-1">Make an appointment without leaving your home</h4>
  <div class="d-flex justify-content-center">
    <div class="input-group pt-4 input-group-search">
      <input type="search" class="form-control btn-search rounded shadow" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
      <button type="button" class="btn btn-outline-light shadow">search</button>
    </div>
  </div>
</section>

<section class="container-fluid how-register">
  <h2 class="text-center">How to make an appointment?</h2>
  <div class="row pt-5 pb-5">
    <div class="col-xxl-4 col-sm-12 ps-5 pe-5 pt-5 pb-5">
      <div class="text-center">
        <i style="font-size: 40px" class="icon fa-solid fa-user"></i>
        <h5>Register and log in to your account</h5>
      </div>
    </div>
    <div class="col-xxl-4 col-sm-12 ps-5 pe-5 pt-5 pb-5">
      <div class="text-center">
        <i style="font-size: 40px" class="icon fa-solid fa-magnifying-glass"></i>
        <h5>Find in the search which employee you want to make an appointment with. Choose a convenient time for you and sign up</h5>
      </div>
    </div>
    <div class="col-xxl-4 col-sm-12 ps-5 pe-5 pt-5 pb-5">
      <div class="text-center">
        <i style="font-size: 40px" class="icon fa-solid fa-building"></i>
        <h5>Come to the employee for an appointment</h5>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid pt-5 explanation-section-1">
  <div class="container">
    <h2 class="text-center">Why should you choose us?</h2>
    <div class="row">
      <div class="col-xxl-6 col-sm-12 ">
        <img style="width: 400px; height: 400px;" src="assets/images/home-page/1.png" alt="image">
      </div>
      <div class="col-xxl-6 col-sm-12 justify-content-center align-content-center d-flex">

      </div>
    </div>
  </div>
</section>
