.main::before
{
  content: url("src/assets/images/home-page/main-banner-left.png");
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.main::after {
  content: url('src/assets/images/home-page/main-banner-right.png') ;
  position: absolute;
  top: -1px;
  right: 0;
  z-index: 0;
}
.main
{
  height: 700px;
}
.main-text-block
{
  margin-top: 300px;
  z-index: 3;
  position: relative;
}
@media (max-width: 1400px) {
  .main-text-block
  {
    border-radius: 23px;
    background-color: rgba(250, 250, 250, 0.95);
    padding: 30px;
  }
}
.main-logo-text
{
  font-size: 50px;
  font-weight: bold;
}
.main-description-text
{
  font-size: 30px;
}
.home {
  background-color: var(--main-dark-blue);
  color: white;
}

.how-register {
  background-color: var(--main-dark-blue);
  color: white;
}
.login-block
{
  height: 500px;
  content: url("src/assets/images/home-page/login-foto.png");
}
.search-block
{
  height: 500px;
  content: url("src/assets/images/home-page/search-foto.png");
}
.maps-block
{
  height: 500px;
  content: url("src/assets/images/home-page/maps-foto.png");
}
.how-register-text
{
  font-size: 25px;
}
.btn-search {
  border-radius: 10px 0 0 10px !important;
}

.input-group-search {
  width: 35%;
}

.explanation-section-1 {
  background-color: var(--main-white-blue);
  color: white;
}
