<section class="container-fluid main">
  <div class="container">
    <div class="col-xxl-6 col-xl-6 col-sm-12 main-text-block">
      <p class="main-logo-text">Kursova</p>
      <p class="main-description-text">Electronic journal entry - single workspace. Automation of visits, statuses asd and much moreasdasdasd.</p>
    </div>
  </div>
</section>
<section class="home container-fluid text-center">
  <h1>Make an appointment online!</h1>
  <h4 class="pt-1">Make an appointment without leaving your home</h4>
  <div class="d-flex justify-content-center">
    <div class="input-group pt-4 input-group-search">
      <input type="search" class="form-control btn-search rounded shadow" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
      <button type="button" class="btn btn-outline-light shadow">search</button>
    </div>
  </div>
</section>

<section class="container-fluid how-register">
  <h2 class="text-center">How to make an appointment?</h2>
  <div class="row">
    <div class="col-xxl-4 col-xl-12 col-sm-12 ps-5 pe-5 pt-5 pb-5 d-flex justify-content-center flex-column">
      <div class="login-block align-self-center h-100 w-100"></div>
      <p class="text-center how-register-text">Register and log in to your account</p>
    </div>
    <div class="col-xxl-4 col-xl-12 col-sm-12 ps-5 pe-5 pt-5 pb-5 d-flex justify-content-center flex-column">
      <div class="search-block align-self-center h-100 w-100"></div>
      <p class="text-center how-register-text">Find in the search which employee you want to make an appointment with. Choose a convenient time for you and sign up</p>
    </div>
    <div class="col-xxl-4 col-xl-12 col-sm-12 ps-5 pe-5 pt-5 pb-5 d-flex justify-content-center flex-column">
      <div class="maps-block align-self-center h-100 w-100"></div>
      <p class="text-center how-register-text">Come to the employee for an appointment</p>
    </div>
  </div>
</section>

<div class="container-fluid color-white-blue" style="background: var(--main-white-blue)">
  <div class="container p-5">
    <h2 class="text-center text-white pb-4">Pricing</h2>
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card h-100 shadow-lg">
          <div class="card-body">
            <div class="text-center p-3">
              <h3 class="card-title"><strong>Basic</strong></h3>
              <small>Individual</small>
              <br><br>
              <span class="h2">$8</span>/month
              <br><br>
            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item color-white-blue">
              <i class="fa-solid fa-check"></i>
              Cras justo odio
            </li>
            <li class="list-group-item color-white-blue">
              <i class="fa-solid fa-check"></i>
              Dapibus ac facilisis in
            </li>
            <li class="list-group-item color-white-blue">
              <i class="fa-solid fa-check"></i>
              Vestibulum at eros
            </li>
          </ul>
          <div class="card-body text-center">
            <button class="btn my-btn btn-lg" style="border-radius:30px">Select</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card h-100 shadow-lg">
          <div class="card-body">
            <div class="text-center p-3">
              <h5 class="card-title">Standard</h5>
              <small>Small Business</small>
              <br><br>
              <span class="h2">$20</span>/month
              <br><br>
            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item color-white-blue">
              <i class="fa-solid fa-check"></i>
              Cras justo odio
            </li>
            <li class="list-group-item color-white-blue">
              <i class="fa-solid fa-check"></i>
              Dapibus ac facilisis in
            </li>
            <li class="list-group-item color-white-blue">
              <i class="fa-solid fa-check"></i>
              Vestibulum at eros
            </li>
          </ul>
          <div class="card-body text-center">
            <button class="btn my-btn btn-lg">Select</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card h-100 shadow-lg">
          <div class="card-body">
            <div class="text-center p-3">
              <h5 class="card-title">Premium</h5>
              <small>Large Companies</small>
              <br><br>
              <span class="h2">$40</span>/month
              <br><br>
            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item color-white-blue">
              <i class="fa-solid fa-check"></i>
              Cras justo odio
            </li>
            <li class="list-group-item color-white-blue">
              <i class="fa-solid fa-check"></i>
              Dapibus ac facilisis in
            </li>
            <li class="list-group-item color-white-blue">
              <i class="fa-solid fa-check"></i>
              Vestibulum at eros
            </li>
          </ul>
          <div class="card-body text-center">
            <button class="btn my-btn btn-lg" style="border-radius:30px">Select</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
