
<div class="container-fluid d-flex justify-content-center pt-lg-5">
  <form class="register-form">
    <h2 class="text-center pt-3 pb-3">Sign Up</h2>
    <div class="mb-3">
      <input type="email" placeholder="Nickname" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <input type="email" placeholder="Email address" class="form-control" id="exampleInputEmail4" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <input placeholder="Password" type="password" class="form-control" id="exampleInputEmail5" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <input placeholder=" Repeat Password" type="password"  class="form-control" id="exampleInputEmail6" aria-describedby="emailHelp">
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
  </form>

</div>




