body
{
  position: relative;
}

.login-cover
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.login
{
  width: 300px;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


